<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Tutores UAQ</title>

    <link rel="stylesheet" href="estilos/menu.css">
    <link rel="stylesheet" href="estilos/footer.css">
    <link rel="stylesheet" href="estilos/acceso.css">
    <link rel="stylesheet" href="estilos/login-registro.css">
    <link rel="stylesheet" href="estilos/inicio.css">
    <link rel="stylesheet" href="estilos/usuario.css">
    <link rel="shorcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/911731080359456828/957381367874867220/1200px-Logo_de_la_UAQ.png">
    <script src="https://kit.fontawesome.com/841e144e18.js" crossorigin="anonymous"></script>
</head>
</html>