<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Tutores UAQ</title>

    <link rel="stylesheet" href="estilos/menu.css">
    <link rel="stylesheet" href="estilos/acceso.css">
    <link rel="stylesheet" href="estilos/login-registro.css">
</head>
</html>