<header>
    <section class="headboard">
        <div class="container">
            <div class="menuBar">
                <div class="logo">
                    <h2 class="title">Tutores UAQ<span> &#129502;&#8205;&#9794;</span></h2>
                </div>
    
                <nav class="menu">
                    <a href="#" class="btn-menu">Ser Asesor</a>
                </nav>
            </div>
        </div>
    </section>
</header>