<header>
    <section class="headboard">
        <div class="containerMenu">
            <div class="menuBar">
                <div class="logo">
                    <h2 class="title">Tu Tutor UAQ</h2>
                </div>
    
                <nav class="menu">
                    <a href="/inicio" class="btn-inicio">Inicio</a>
                    <a href="#" class="btn-menu">Ser Asesor</a>
                </nav>
            </div>
        </div>
    </section>
</header>