<header>
    <section class="headboard">
        <div class="containerMenu">
        <div class="menuBar">
            <img src="https://cdn.discordapp.com/attachments/911731080359456828/957381367874867220/1200px-Logo_de_la_UAQ.png" width="50px">
        </div>
        </div>
    </section>
</header>