* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

body .container.acceso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10em;
}

body .container.acceso .container-texto {
  width: 100%;
  margin-bottom: 5em;
}

body .container.acceso .container-texto .texto {
  font-size: 22px;
}

body .container.acceso .container-form {
  /* display: block; */
  margin: 0em auto;
  width: 100%;
  max-width: 400px;
  padding: 0em 1.5em;
  padding-bottom: 0em;
  background-color: whitesmoke;
  border-radius: 1%;
}

body .container.acceso .container-form .alerta-msg {
  background-color: tomato;
  padding: 1em 0.5em;
  margin-bottom: 0.75em;
}

body .container.acceso .container-form .alerta-msg.last {
  margin-bottom: 2em;
}

body .container.acceso .container-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container.acceso .container-form .form .container-input {
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container.acceso .container-form .form .container-input .container-label {
  margin: 0 auto;
}

body .container.acceso .container-form .form .container-input .container-label .texto {
  font-size: 16px;
}

body .container.acceso .container-form .form .container-input .container-select {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

body .container.acceso .container-form .form .container-input .container-select .areaSelector {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
}

body .container.acceso .container-form .form .container-input input[type="text"],
body .container.acceso .container-form .form .container-input textarea {
  font-size: 17px;
  margin-top: 0.5em;
  padding: 0.5em 0.5em;
  width: 300px;
  border-radius: 3%;
  border: 1px solid black;
  outline: none;
}

body .container.acceso .container-form .form .container-input input[type="text"]:focus,
body .container.acceso .container-form .form .container-input textarea:focus {
  border: 1px solid #16635a;
}

body .container.acceso .container-form .form .container-input textarea {
  font-size: 18px;
  min-height: 5em;
  max-height: 15em;
  max-width: 300px;
  min-width: 300px;
}

body .container.acceso .container-form .form .submit {
  margin: 0em auto;
  width: 100px;
  padding: 0.75em 1em;
  border-radius: 5%;
  border: 2px solid #16635a;
  color: #16635a;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 2em;
}

body .container.acceso .container-form .form .submit:hover {
  background: #1d867a;
  border: 2px solid transparent;
  color: whitesmoke;
}
/*# sourceMappingURL=login-registro.css.map */