$primaryColor: #1E9788;
$black: #131515;
$white: #fcfcfc;
$clearGray: #868784;
$white-gray: rgb(247, 247, 247);

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn{
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    text-decoration: none;
    background-color: $primaryColor;
    color: white;
    border-radius: 0.75em;
    transition:all 0.1s ease;

    &:hover{
        box-shadow: 0px 0px 6px rgb(173, 173, 173);
    }
}

header{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: $black;

    .headboard{
        display: inline-block;
        width: 100%;
        background-color: $white;
        box-shadow: 0px 0.5px 10px rgb(192, 192, 192);
        padding: 1em 3em;

        .menuBar{
            display: flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items:center;

            .menu{
                display: flex;
                align-items: center;
                padding: 1em;

                .profile{
                    margin-left: 1.5em;

                    &:hover{
                        cursor: pointer;
                    }
                }

                .btn-inicio{
                    @extend .btn;

                    background-color: $clearGray;
                    color: white;
                    margin: 0em 2em;
                    font-weight: 700;
                    transition:all 0.2s ease;
                    box-shadow: 0px 0px 6px 1px rgb(136, 136, 136);

                    &:hover{
                        box-shadow: 0px 0px 3px 0px rgb(122, 122, 122);
                        background-color: rgb(99, 99, 99);
                    }
                }

                .btn-menu{
                    @extend .btn;

                    font-weight: 700;
                    transition:all 0.2s ease;
                    box-shadow: 0px 0px 6px 1px rgb(68, 173, 177);

                    &:hover{
                        box-shadow: 0px 0px 3px 0px rgb(30, 97, 102);
                        background-color: rgb(42, 138, 145);
                    }
                }
            }
        }
    }
}