* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn, header .headboard .menuBar .menu .btn-inicio, header .headboard .menuBar .menu .btn-menu, header .headboard .menuBar .menu .profile-options .btn.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 1em;
  text-decoration: none;
  background-color: #1E9788;
  color: white;
  border-radius: 0.75em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn:hover, header .headboard .menuBar .menu .btn-inicio:hover, header .headboard .menuBar .menu .btn-menu:hover, header .headboard .menuBar .menu .profile-options .btn.logout:hover {
  -webkit-box-shadow: 0px 0px 6px #adadad;
          box-shadow: 0px 0px 6px #adadad;
}

header {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: #131515;
}

header .headboard {
  display: inline-block;
  width: 100%;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 0.5px 10px silver;
          box-shadow: 0px 0.5px 10px silver;
  padding: 1em 3em;
}

header .headboard .menuBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headboard .menuBar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

header .headboard .menuBar .menu .btn-inicio {
  background-color: #868784;
  color: white;
  margin: 0em 2em;
  font-weight: 700;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 0px 6px 1px #888888;
          box-shadow: 0px 0px 6px 1px #888888;
}

header .headboard .menuBar .menu .btn-inicio:hover {
  -webkit-box-shadow: 0px 0px 3px 0px #7a7a7a;
          box-shadow: 0px 0px 3px 0px #7a7a7a;
  background-color: #636363;
}

header .headboard .menuBar .menu .btn-menu {
  font-weight: 700;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 0px 6px 1px #44adb1;
          box-shadow: 0px 0px 6px 1px #44adb1;
}

header .headboard .menuBar .menu .btn-menu:hover {
  -webkit-box-shadow: 0px 0px 3px 0px #1e6166;
          box-shadow: 0px 0px 3px 0px #1e6166;
  background-color: #2a8a91;
}

header .headboard .menuBar .menu .profile {
  margin-left: 1.5em;
}

header .headboard .menuBar .menu .profile:hover {
  cursor: pointer;
}

header .headboard .menuBar .menu .profile-options {
  display: block;
  position: absolute;
  top: 90px;
  right: 37px;
}

header .headboard .menuBar .menu .profile-options .logout.btn-inicio, header .headboard .menuBar .menu .profile-options .logout.btn-menu, header .headboard .menuBar .menu .profile-options .logout.btn {
  -webkit-box-shadow: 0px 0px 0px 0px white;
          box-shadow: 0px 0px 0px 0px white;
  border: 2px solid transparent;
}

header .headboard .menuBar .menu .profile-options .logout.btn-inicio:hover, header .headboard .menuBar .menu .profile-options .logout.btn-menu:hover, header .headboard .menuBar .menu .profile-options .logout.btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=menu.css.map */