<%- include('./partials/head.ejs') %>
<%- include('./partials/menu.ejs') %>

<body>
    <div class="container">
        <div class="container-btn" id="container-btn">
            <a href="/registrarse" class="btn signup" id="btnSignup">Registrarse</a>
            <a href="/iniciar-sesion" class="btn login" id="btnLogin">Iniciar sesión</a>
        </div>
    </div>
    <!-- <script src="js/acceso.js"></script> -->
</body>
</html>