<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <h1 class="title">Tu Tutor UAQ</h1>

        <div class="container-btn" id="container-btn">
            <button class="btn signup" id="btnSignup">Registrarse</button>
            <a href="/login"><button class="btn login" id="btnLogin">Iniciar sesión</button></a>
        </div>
    <!-- <script src="js/acceso.js"></script> -->
</body>
</html>