<%- include('./partials/head.ejs') %>
    <%- include('./partials/menu.ejs') %>

        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Calendario Funcioal</title>
        </head>

        <body>
            <div id="caleandar">
                <form id="date">
                    <input type="date"></input>
                    <input type="submit" id="addDate">
                </form>
            </div>


            <script type="text/javascript" src="js/calendar.js"></script>

        </body>

        </html>