body {
    font-family: sans-serif;
    margin: 15px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 10vh;
  }
h3.container{
    background-color: gray;
    border: 10cm;
    width: 180px;
    text-align: center;
    border-right: 3px solid #868784;
    border-radius: 8px 8px;
}
h2.profesor{
    background-color: gray;
    border-radius: 10px 10px;
    width: 38%;
}
h2.comentario{
    background-color: gray;
    border-radius: 10px 10px;
    width: 38%;
}
#g{
    border-radius: 5px 5px;
    background-color: gray;
    font-size: 25px;
}
#g:hover{
    background: #1E9788;
    color: white;
}
#g:active{
    background: #294e4a;
    color: white;
}
#z{
    border-radius: 5px 5px;
    background-color: gray;
    font-size: 25px;
}
#z:hover{
    background: #1E9788;
    color: white;
}
#z:active{
    background: #294e4a;
    color: white;
}
#u{
    border-radius: 5px 5px;
    background-color: gray;
    font-size: 25px;
}
#u:hover{
    background: #1E9788;
    color: white;
}
#u:active{
    background: #294e4a;
    color: white;
}
#m{
    border-radius: 5px 5px;
    background-color: gray;
    font-size: 25px;

}
#m:hover{
    background: #1E9788;
    color: white;
}
#m:active{
    background: #294e4a;
    color: white;
}
#x{
    border-radius: 5px 5px;
    background-color: gray;
    font-size: 25px;
}
#x:hover{
    background: #1E9788;
    color: white;
}
#x:active{
    background: #294e4a;
    color: white;
}