<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="encuesta.css">
    <title>Encuestat</title>
</head>
<body>
    <div class="box">
    <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/2b50.png" height="100px"/>
    <h1> Encuesta de Satisfacción </h1>
    <h2> Puntua segun te ha parecido la clase</h2>
    <div class="block"></div>
    <div class="Cont"> Contenido </div>
    <div class="circle">
        <INPUT TYPE="Radio" Name="Calf" Value="1">1
        <INPUT TYPE="Radio" Name="Calf" Value="2">2
        <INPUT TYPE="Radio" Name="Calf" Value="3">3
        <INPUT TYPE="Radio" Name="Calf" Value="4">4
        <INPUT TYPE="Radio" Name="Calf" Value="5">5 
    </div> 
    <div class="block"></div>
    <div class="Cont"> Accesibilidad </div>
    <div class="circle">
        <INPUT TYPE="Radio" Name="Calfs" Value="1">1
        <INPUT TYPE="Radio" Name="Calfs" Value="2">2
        <INPUT TYPE="Radio" Name="Calfs" Value="3">3
        <INPUT TYPE="Radio" Name="Calfs" Value="4">4
        <INPUT TYPE="Radio" Name="Calfs" Value="5">5 
    </div>
    <div class="block"></div>
    <div class="Cont"> Actividades </div>
    <div class="circle">
        <INPUT TYPE="Radio" Name="Calfa" Value="1">1
        <INPUT TYPE="Radio" Name="Calfa" Value="2">2
        <INPUT TYPE="Radio" Name="Calfa" Value="3">3
        <INPUT TYPE="Radio" Name="Calfa" Value="4">4
        <INPUT TYPE="Radio" Name="Calfa" Value="5">5 
    </div>
    <div class="block"></div>
    <div class="Cont"> Comunicación </div>
    <div class="circle">
        <INPUT TYPE="Radio" Name="Calfd" Value="1">1
        <INPUT TYPE="Radio" Name="Calfd" Value="2">2
        <INPUT TYPE="Radio" Name="Calfd" Value="3">3
        <INPUT TYPE="Radio" Name="Calfd" Value="4">4
        <INPUT TYPE="Radio" Name="Calfd" Value="5">5 
    </div>
    <div class="block"></div>
    <button id="enviar">Enviar</button>
    <div class="block"></div>
    </div>
</body>
</html>