<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/menu.ejs') %>

    <div class="container-form-materias">
        <div class="container-texto">
            <p class="texto">Bienvenido <%= usuario %>, por favor selecciona el área en la que requieras asesoría.</p>
        </div>
    
        <div class="container-form" id="container-form">
            <form class="form" id="formMaterias" action="/cargar-materias" method="post">
                <div class="container-input">
                    <p class="title">Escoge un área:</p>

                    <div class="container-select">
                        <select name="areaMateria" class="areaSelector" id="areaSelector">
                            <option value="categoria" name="categoria">Ciencias Exactas</option>
                            <option value="categoria" name="categoria">Humanidades</option>
                            <option value="categoria" name="categoria">Lenguas Extranjeras</option>
                        </select>
                    </div>

                    <input type="submit" class="submit" value="Buscar" name="submit">
                </div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
