<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/menu-acceso.ejs') %>

    <div class="container acceso">
        <div class="container-form" id="container-form">

            <% errors.forEach(function(errormsg){ %>
                <div class="alerta-msg"><%= errormsg %></div>
            <% }) %>

            <form class="form" id="loginForm" action="/login" method="post">
                <div class="container-input">
                    <label for="usuario">Usuario </label>
                    <input type="text" name="usuario" id="usuario">
                </div>
                <div class="container-input">
                    <label for="password">Contraseña </label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="submit" class="submit" value="Login" name="submit">
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
