<%- include('./partials/head.ejs') %>
<%- include('./partials/menu.ejs') %>

<<<<<<< HEAD
<body>
    <div class="container">
        <div class="container-form" id="container-form">
            <form class="form" id="loginForm">
=======
    <body>
        <div class="container-form login" id="container-form login">
            <form class="form" id="loginForm" action="../models/register.php" method="post">
>>>>>>> lino
                <div class="container-input">
                    <label for="userUsernameLogin">Usuario o expediente </label>
                    <input type="text" name="userUsernameLogin" id="userUsernameLogin">
                </div>
                <div class="container-input">
                    <label for="userPasswordLogin">Contraseña </label>
                    <input type="password" name="userPasswordLogin" id="userPasswordLogin">
                </div>
                <input type="submit" class="submit" value="Login" name="submit">
            </form>
        </div>
<<<<<<< HEAD
    </div>
</body>
=======
        </div>
    </body>
>>>>>>> lino
