<%- include('./partials/head.ejs') %>
<%- include('./partials/menu.ejs') %>

<body>
    <div class="container">
        <div class="container-form" id="container-form">

            <% errors.forEach(function(errormsg, idx, array){ %>
                <%if (idx === array.length - 1){ %>
                    <div class="alerta-msg last"><%= errormsg %></div>
                <% } else {%>
                    <div class="alerta-msg"><%= errormsg %></div>
                <% } %>
            <% }) %>

            <form class="form" id="signupForm" action="/registro" method="post">
                <div class="container-input">
                    <label for="userText">Expediente </label>
                    <input type="text" name="expediente" id="userExp" onkeypress="return onlyNumbers(event)">
                </div>
                <div class="container-input">
                    <label for="userName">Nombre </label>
                    <input type="text" name="nombre" id="userName">
                </div>
                <div class="container-input">
                    <label for="userEmail">Correo </label>
                    <input type="email" name="email" id="userEmail">
                </div>
                <div class="container-input">
                    <label for="userUsername">Usuario </label>
                    <input type="text" name="usuario" id="userUsername">
                </div>
                <div class="container-input">
                    <label for="userPassword">Contraseña </label>
                    <input type="password" name="password" id="userPassword">
                </div>
                <input type="submit" class="submit" value="Sign Up" name="submit">
            </form>
        </div>        
    </div>

    <script src="js/registro.js"></script>
</body>