<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <div class="container-form" id="container-form">
            <form class="form" id="signupForm">
                <div class="container-input">
                    <label for="userText">Expediente </label>
                    <input type="text" name="userExp" id="userExp">
                </div>
                <div class="container-input">
                    <label for="userName">Nombre </label>
                    <input type="text" name="userName" id="userName">
                </div>
                <div class="container-input">
                    <label for="userEmail">Correo </label>
                    <input type="email" name="userEmail" id="userEmail">
                </div>
                <div class="container-input">
                    <label for="userUsername">Usuario </label>
                    <input type="text" name="userUsername" id="userUsername">
                </div>
                <div class="container-input">
                    <label for="userPassword">Contraseña </label>
                    <input type="password" name="userPassword" id="userPassword">
                </div>
                <input type="submit" class="submit" value="Sign Up" name="submit">
            </form>
        </div>        
    </div>
</body>