<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/menu.ejs') %>
    <div class="main-title">
        <h1 class="title">Juan Pablo</h1> 
    </div>

    <div class="container-father">
        <div class="container-calendario">
            <div class="calendario">
                <h1 class="title">Horarios Disponibles</h1>

                <h2 class="subtitle">Marzo 2022</h2>
                <ol class="calendar">
                    <li class="day day-name">Lun</li>
                    <li class="day day-name">Mar</li>
                    <li class="day day-name">Mie</li>
                    <li class="day day-name">Jue</li>
                    <li class="day day-name">Vie</li>
                    <li class="day day-name">Sab</li>
                    <li class="day day-name">Dom</li>
                    <li class="day first-day">1</li>
                    <li class="day">2</li>
                    <li class="day">3</li>
                    <li class="day">4</li>
                    <li class="day">5</li>
                    <li class="day">6</li>
                    <li class="day">7</li>
                    <li class="day">8</li>
                    <li class="day">9</li>
                    <li class="day">10</li>
                    <li class="day">11</li>
                    <li class="day">12</li>
                    <li class="day">13</li>
                    <li class="day">14</li>
                    <li class="day">15</li>
                    <li class="day">16</li>
                    <li class="day">17</li>
                    <li class="day">18</li>
                    <li class="day">19</li>
                    <li class="day">20</li>
                    <li class="day">21</li>
                    <li class="day">22</li>
                    <li class="day">23</li>
                    <li class="day">24</li>
                    <li class="day">25</li>
                    <li class="day">26</li>
                    <li class="day">27</li>
                    <li class="day">28</li>
                    <li class="day">29</li>
                    <li class="day">30</li>
                    <li class="day">31</li>
                </ol>
                <br>

                <h4>Selecciona tu cita</h4>
                <div id="calendar" class="img">
                    <form id="date">
                        <input type="date"></input>
                        <input type="submit" id="addDate">
                    </form>
                </div>
            </div>
        </div>

        <div class="kardex" >
            <div class="thumb">
                <img class="img" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fpng-user-icon-circled-user-icon-2240.png&f=1&nofb=1" height="200px" weight="200">   
            </div>

            <h2 class="subtitle">Kardex</h2>
            
            <p class="materia">9.1 | Matemáticas</p>
            <p class="materia">9.5 | Álgebra</p>
            <p class="materia">9.3 | Programación</p>
        </div>
    </div>

    <section class="main">
        <div class="container-calificaciones">
            <h2 class="title">Tutorias</h2>

            <div class="calificaciones">
                <div class="calificacion">
                    <h3>Matematicas</h3>
                    <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/2b50.png" height="50px"/>
                    <p>3.5 / 5</p>
                </div>
                <div class="calificacion">
                    <h3>Matematicas</h3>
                    <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/2b50.png" height="50px"/>
                    <p>3.5 / 5</p>
                </div>
                <div class="calificacion">
                    <h3>Matematicas</h3>
                    <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/2b50.png" height="50px"/>
                    <p>3.5 / 5</p>
                </div>
            </div>
        </div>

        <div class="container-medallas" >
            <h2 class="title">Medallas</h2>
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/3176/3176294.png" height="100px"/>
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1319/1319446.png" height="100px"/>
            <img class="icon" src="https://images.vexels.com/media/users/3/194373/isolated/preview/e39f51c7a78159c8fb0610863f6fe339-icono-de-medalla-de-oro-educacion.png" height="100px"/>
            <img class="icon" src="https://images.vexels.com/media/users/3/194377/isolated/preview/43d66cd6452ed687c86e3886646e63d7-icono-de-medalla-de-adorno-de-oro.png" height="100px"/>
            <img class="icon" src="https://images.vexels.com/media/users/3/166391/isolated/preview/a3442b2007da60472a459f756aadd5aa-icono-de-medalla-del-dia-de-la-independencia.png" height="100px"/>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

<script type="text/javascript" src="js/calendar.js"></script>
</body>
</html>